<!DOCTYPE html>
<html>
  <head>
<script>
i=1
function help(cost) {
  i+=1
        var table = document.getElementsByTagName('table')[0];
    		var newRow = table.insertRow(table.rows.length);
                      
    		var cel1 = newRow.insertCell(0);
            var cel2 = newRow.insertCell(1);

            cel1.innerHTML = i;
            cel2.innerHTML = fname;
            
}
</script>

    <title>Lab8</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

        <style>
th { 
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
   td { 
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
